body {
    background: #ffff;
}

h1 {
    color: red;
}

#container {
    margin: 100px auto;
    text-align: center;
    width: fit-content;
    background: #0b1ddb;
    padding: 10px;
    border-radius: 21px;
}

.tip-buttons {
    width: 100px;
}

#bill-input,
#people-input,
#reset {
    width: 300px;
}

#outer-div {
    display: flex;
}

#left,
#right {
    padding: 10px;
    margin: 10px;
}

#right {
    background: #85870e;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#right-part-1,
#right-part-2 {
    display: flex;
    justify-content: space-between;
}